@charset "utf-8";
/* CSS Document */
/*Regla para general para todo el documento*/
body {
  font-family: "Gotic", Century Gothic;
  font-size:13px;
  align-content:space-between;
  border: 0px #FFFFFF solid;
  -webkit-font-smoothing: antialiased;
}

div
{
	text-align: justify;
	texto-justify: inter-palabra;
}

/*Links visitados*/
a:visited{
	color:#0A8BD3;
}
/*Links cuando pasa en mouse encima*/
a:hover{
	color:#EF0BCA;
}

td{
	color: #202698;
}
/*Regla para titulos*/

.titulos{
	font-size: 24px;
	font-style:normal;
	font-weight:bold;
	color:#AD1085
}

/*Regla para sub-titulos*/
.subtitulos{
	font-size:16px;
	font-style: italic;
	font-weight:bold;
	color:#6519C4;
}
/*Regla para los links del menu*/

.menu{
	font-size:16px;
	font-weight:bold;
	color:#0063EB;
}

.parrafos{
	  font-family: "Gotic", Century Gothic;
  	  font-size:13px;
      align-content: space-between;
}
h1{
	text-align: center;
	color:#AD1085
}
#redes{
	cursor: pointer;
}





